Project 3 by Joe Chan
======================

## Python Code:
```python
import numpy as np
import pandas as pd
from datetime import date
from pandas import DataFrame, Series
import sqlalchemy as sqla
import mysql.connector

#connect to Mysql database chinook
cnx = mysql.connector.connect(host='localhost',database='chinook',user='user2',password='temp')

#create sql query
sql = '''SELECT Customer.LastName, Customer.FirstName, Track.Name, Album.Title
FROM ((((Customer
INNER JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId)
INNER JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId)
INNER JOIN Track ON InvoiceLine.TrackId = Track.TrackId)
INNER JOIN Album ON Track.AlbumId = Album.AlbumId)
ORDER BY Customer.LastName, Customer.FirstName'''

#convert the sql query results into a DataFrame
df = pd.read_sql(sql, con=cnx)

#display the datafile results
print (df.head())

#close the Mysql database connection
cnx.close()
```

Description
-----------------------------------------------
The "import mysql.connector" command was used to import the Mysql connector tool to connect to the Mysql database.

The "mysql.connector.connect" command was used to connect to the Mysql database with the variable "cnx".

The Mysql database was located on the localhost and was named "chinook" with the user as "user2" and password "temp".

The "sql" variable contains the SQL code to query the database.

The "pd.read_sql(sql, con=cnx)" function was used to convert the SQL query results into a Pandas DataFrame ("df") using the "sql" query variable and the "cnx" connection to the Mysql database.

The head() function displayed the first 5 results of the new DataFrame.

The close() function closed the MySql database connection.

In [5]:
import numpy as np
import pandas as pd
from datetime import date
from pandas import DataFrame, Series
import sqlalchemy as sqla
import mysql.connector

#connect to Mysql database chinook
cnx = mysql.connector.connect(host='localhost',database='chinook',user='user2',password='temp')

#create sql query
sql = '''SELECT Customer.LastName, Customer.FirstName, Track.Name, Album.Title
FROM ((((Customer
INNER JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId)
INNER JOIN InvoiceLine ON Invoice.InvoiceId = InvoiceLine.InvoiceId)
INNER JOIN Track ON InvoiceLine.TrackId = Track.TrackId)
INNER JOIN Album ON Track.AlbumId = Album.AlbumId)
ORDER BY Customer.LastName, Customer.FirstName'''

#convert the sql query results into a DataFrame
df = pd.read_sql(sql, con=cnx)

#display the datafile results
print (df.head())

#close the Mysql database connection
cnx.close()

  LastName FirstName                                               Name  \
0  Almeida   Roberto                            Right Next Door to Hell
1  Almeida   Roberto                                     In The Evening
2  Almeida   Roberto                                   Fool In The Rain
3  Almeida   Roberto  Saudade Dos Aviões Da Panair (Conversando No Bar)
4  Almeida   Roberto                             Caso Você Queira Saber

                     Title
0      Use Your Illusion I
1  In Through The Out Door
2  In Through The Out Door
3                    Minas
4                    Minas